body
    font-family: futura
    font-size: 27px
    margin: 27px 0

.game-container
    display: flex
    flex-direction: column
    height: 78vh
    max-width: 768px
    margin: 0 auto

.title
    font-family: futura
    margin: 0
    flex: 1
    text-align: center
    font-size: 42px

button
    font-family: futura
    color: black
    text-align: center
