.keyboard
    flex: 4
    display: flex
    flex-direction: column
    justify-content: center

.key-row
    display: flex
    flex-direction: row
    justify-content: space-evenly

.key
    margin: 3px
    border-radius: 9px
    border: 0px
    padding: 0

.key-text
    display: flex
    flex-direction: column
    justify-content: center
    height: 42px
    width: 42px
    font-size: 27px
    cursor: pointer
    text-align: center


.visually-hidden
    display: none
